# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore npm's debug log file
npm-debug.log*

# Ignore yarn's lock file
yarn.lock

# Ignore Mac's .DS_Store files
.DS_Store

# Igore Package-lock files
package-lock.json