{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": "*.vue",
      "options": {
        "printWidth": 120,
        "htmlWhitespaceSensitivity": "ignore",
        "parser": "vue"
      }
    }
  ]
}
